.code p {
	color: lightgray;
	letter-spacing: 10px;
}

.code{
	margin-top: 50px;
}

.course-progress h6{
	letter-spacing: 5px;
}

.course {
	margin-top: 200px;
	width: 1000px;
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
	display: inline-block;
	overflow: hidden;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.course-info{
	background: #ff6426;
	color: #FFF;
	float: left;
	padding: 30px;
	width: 35%;
}
.course-progress{
	float: left;
	padding: 30px;
	position: relative;
	width: 65%;
}
.course h2{
	letter-spacing: 1px;
	margin: 10px 0px;
}
.course h6{
	letter-spacing: 1px;
	opacity: 0.8;
	text-transform: uppercase;
	margin: 0px;
}
.course-info a{
	color: #FFF;
	display: inline-block;
	font-size: 12px;
	opacity: 0.8;
	margin-top: 30px;
	text-decoration: none;
}
.progress-container{
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}
.progress{
	background: #DDD;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}
.progress::after{
	border-radius: 3px;
	background: #ff6426;
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 5px;
	width: 50%;
}
.progress-text{
	font-size: 10px;
	opacity: 0.8;
	letter-spacing: 1px;
}
input {
	width: 90%;
	letter-spacing: 5px;
}

.btn{
	background: #ff6426;
	border: 0px;
	outline: none;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.058);
	color: #FFF;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	right: 30px;
	bottom: -50px;
	cursor: pointer;
	letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
	.course-progress, .course-info{
		width: 100%;
		height: 200px;
		float: none;
	}
	.course-info{
		height: 140px;
	}
	.course-info h2{
		margin: 8px 0px;
	}
	.course-info a{
		margin-top: 10px;
	}
	.course-progress h2{
		margin: 16px 0px;
	}
	.btn{
		bottom: 30px;
		left: 30px;
	}
}
